DTD/user.dtd

<?xml encoding="UTF-8"?>

<!ELEMENT user (name,items)>

<!ELEMENT name EMPTY>
<!ATTLIST name
  val NMTOKEN #REQUIRED>

<!-- Jeder User hat mindestens seinen Standard-Kalender, der nicht löschbar ist -->
<!ELEMENT items (calendar)+>

<!ELEMENT calendar EMPTY>
<!ATTLIST calendar
  href CDATA #REQUIRED>
